body {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    color: #4B405D;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: bold;
}

p {
    font-size: 17px;
    color: #66587D;
    margin: 0 0 20px 0;
}

hr {
    border-top: 1px solid #E0DCE6;
}

ol, ul {
    padding-left: 20px;
}

h2 {
    margin-top: 50px;
}

h1+h2 {
    margin-top: 20px;
}

pre {
    border: none;
    background-color: #3D334E;
    color: #D1C6E0;
}

#sidebar-wrapper {
    background: #3D334E;
}

#sidebar-wrapper .logo {
    display: block;
    padding: 20px;
}

#sidebar-wrapper ul li a {
    color: #BAB0CB;
}

.sidebar-nav {
    top: 100px;
}

.sidebar-nav li {
    line-height: 30px;
    font-size: 15px;
}

.sidebar-nav li.divider {
    line-height: 40px;
    height: 1px;
    margin: 9px 19px;
    margin-bottom: 5px;
    overflow: hidden;
    background-color: #675882;
}

.sidebar-nav li.title {
    line-height: 30px;
    color: white;
    /*color: #DED8E8;*/
    font-weight: bold;
    padding-top: 5px;
}

.sidebar-nav li a {
    /*font-size: 15px;*/
    font-size: 13px;
}

.sidebar-nav li a span.octicon {
    text-indent: 0;
    padding-right: 5px;
}

#sidebar-wrapper ul li a:hover {
    background: rgba(255,255,255,0.1);
    color: white;
}


#page-content-wrapper {
    max-width: 760px;
}

#page-content-wrapper ul {
    margin-bottom: 12px;
}

#page-content-wrapper ul li {
    margin-top: 4px;
}